@import url('common/fonts.scss');

body{
  font-family: 'OpenSans';
  font-weight: 400;
  font-size: 16px;
}

.bg{
  background: url(../img/ilon.jpg) 50% 50%/cover no-repeat;
  width: 300px;
  height: 200px;
}

.bg2{
  background: url(../img/perfect.jpg) 50% 50%/cover no-repeat;
  width: 200px;
  height: 200px;
  border: 3px solid red;
}

.component{
  opacity: 0.5;
  border: 1px solid #acacac;
  padding: 20px;
}